@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.btn-container {
  text-align: center;
}
.btn {
  padding: 14px 18px 14px 18px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
}

#hero {
  background: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("assets/hero-bg.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-container {
  width: 685px;
}
#hero .hero-container .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 16px;
}
#hero .hero-container .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
#hero .hero-container .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}
#card-box {
  padding: ;
  width: 884px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  border: 1px dotted black;
}
#card-box .container{
  
}
#card-box .title {

  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
#card-box .subtitle {
  /* color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6; */
  color: rgb(41, 19, 19);
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 16px;
}
.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card .img-box {
  max-width: 250px;
}
.card .img-box img {
  width: 100%;
  border-radius: 16px;
}
.card .shop {
  background-color: #57f6c1;
  margin-bottom: 38px;
  text-align: center;
  padding: 10px 18px 10px 18px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
}
.card p {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: auto;
}
.about {
  display: flex;
  justify-content: center;
  /* gap: 80px; */
}
.about-img img {
  width: 100%;
  height: 671px;
}
.about-img {
  flex: 1 1 0%;
}
.about-title {
  display: flex;
  justify-content: center;
  flex: 1 1 0%;
  align-items: center;
  padding: 136px 53px;
}
.heading {
  text-align: center;
}
.heading h1 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 44px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.heading p {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 48px;
}
.heading h6 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  border-top: 2px solid rgba(128, 128, 128, 0.36);
  border-bottom: 2px solid rgba(128, 128, 128, 0.353); ;
  padding: 30px 10px 30px 10px;;
}
.about-social ul {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.about-social ul li {
  margin-top: 32px;
  list-style: none;
  font-size: 40px;


}
.fa-facebook {
  color: blue;
}
.fa-twitter {
  color: skyblue;
}
.fa-instagram{
  color: #f72828c0;
}
.fa-youtube{
  color: red;
}