*{
    /* margin: 0; */
}
body{

    /* background-image: url("bg-fl.jpg");
    /* background-size: contain; */
    /* background-repeat: no-repeat;
    background-size: 100% 100vh; */ */
    /* width: 100%;
    height: 100vh; */
   
}
#heading{
    /* border: 2px solid indianred; */
   
    /* background-position: 100%; */
    /* background: bisque; */
   
    
}
.nav{
    float: right;
    margin-top: 15px;
}
.nav a{
    text-decoration: none;
    background-color: green;
    border-radius: 10px;
    padding: 7px;
    color: whitesmoke ;
    font-weight: 600;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav a:hover {
    font-weight: 600;
    color: yellow;
}
.card{
    border: 1px solid indianred;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to right, #c47474 , #f3f392);
    width: 250px;
    height: 250px;
    margin: 15px 20px;
}
#containerCard{
    display: flex;
    justify-content: space-between;
}
.reg-form{
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to right, hwb(97 27% 37%) , #f3f392);
}
input{
    color: rgb(128, 0, 62);
    font-style: italic;
}